apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "token": "87CbcQQiAPU0RdB17khKWo5OG_131474",
      "project_id": "eccc2dbaf5b7405e9991fdc4f397f32f"
    }